.showcard-travel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 570px;


    &__comment {}

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-image: url("../../images/showcards/travel-01.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 465px;
        height: 100%;
        padding: 30px 31px 33px;
    }

    &__content {}

    &__text {
        display: block;
    }

    &__link {}
}