.showcard-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../../images/showcards/section-soul.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 31px 33px;

    &__helper {}
    &__content {}

    &__text {
        display: block;
    }

    &__link {}
}