.trips {
    margin-top: 120px;
    text-align: center;

    &__list {
        margin-top: 68px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        display: inline-block;
        flex: 45%;


        &:nth-child(odd) {
            margin-right: 25px;
            margin-bottom: 97px;
        }

        &:nth-last-of-type(-n+2) {
             margin-bottom: 0px;
         }
    }
}

@media screen and (max-width: 750px) {
    .trips {
        &__item {
            flex: 100%;
            margin-bottom: 50px;

            &:nth-child(odd) {
                margin-right: 0;
                margin-bottom: 50px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}