.trips {
    margin-top: 120px;
    text-align: center;

    &__list {
        margin-top: 68px;
    }

    &__item {
        display: inline-block;


        &:nth-child(odd) {
            margin-right: 25px;
            margin-bottom: 97px;
        }

        &:nth-last-of-type(-n+2) {
             margin-bottom: 0px;
         }
    }
}