html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
ul,
li {
  display: block;
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: black;
}
ul[class],
ol[class] {
  padding: 0;
}
ul[class] {
  list-style: none;
}
section {
  background: #FFFFFF;
}
img {
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
html,
body {
  height: 100%;
  font-size: 16px;
  font-family: 'Playfair Display', serif;
}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}
.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.container_wide {
  max-width: 1440px;
  margin: 0 auto;
}
.quotes {
  display: inline-block;
  position: absolute;
  top: -9px;
  left: -19px;
}
.link-button {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.25em;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 305px;
  height: 47px;
  color: #4F4F4F;
  background: #D7D7D7;
  border: none;
  outline: none;
  -webkit-transition: background-color ease 0.2s;
  -o-transition: background-color ease 0.2s;
  transition: background-color ease 0.2s;
}
.link-button:hover {
  text-decoration: underline;
  cursor: pointer;
}
.link-button:hover {
  cursor: pointer;
  background: #b1b1b1;
}
.text_letter-spacing_true {
  letter-spacing: 0.25em;
}
.text-common {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
}
.text-captions {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
}
.heading_big {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 52px;
  line-height: 69px;
}
.heading_medium {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 32px;
  line-height: 43px;
}
.heading_small {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
  line-height: 27px;
}
.site-link {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.25em;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}
.site-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.header__container {
  max-width: 1120px;
  margin: auto;
  padding: 50px 15px 66px;
}
.nav-menu {
  position: relative;
}
.nav-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav-menu__item {
  display: inline-block;
}
.nav-menu__link {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.25em;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #828282;
}
.nav-menu__link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.nav-menu_hidden {
  width: 0 !important;
}
.nav-menu__button {
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 5px;
  background: transparent;
  border: none;
  color: #FFFFFF;
  padding: 5px;
}
.nav-menu__button:hover {
  cursor: pointer;
  text-decoration: underline;
}
@media screen and (max-width: 750px) {
  .nav-menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 250px;
    height: 100%;
    text-align: center;
    background: #BDBDBD;
    overflow-y: auto;
    -webkit-transition: width ease 0.4s;
    -o-transition: width ease 0.4s;
    transition: width ease 0.4s;
  }
  .nav-menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10px;
  }
  .nav-menu__list:after {
    display: block;
    margin-top: 10px;
    content: "";
    height: 1px;
    background: -webkit-gradient(linear, left top, right top, from(#BDBDBD), color-stop(#4F4F4F), to(#BDBDBD));
    background: -o-linear-gradient(left, #BDBDBD, #4F4F4F, #BDBDBD);
    background: linear-gradient(to right, #BDBDBD, #4F4F4F, #BDBDBD);
  }
  .nav-menu__item {
    display: block;
    margin-bottom: 5px;
  }
  .nav-menu__item:last-child {
    margin-bottom: 0;
  }
  .nav-menu__link {
    display: block;
    padding: 15px 0;
    color: #FFFFFF;
  }
}
.button-hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 25px;
  vertical-align: bottom;
  background: transparent;
  border: none;
  padding: 0;
  width: 30px;
}
.button-hamburger:hover {
  cursor: pointer;
}
.button-hamburger__line {
  display: inline-block;
  height: 2px;
  background: #828282;
  width: 100%;
}
.top {
  position: relative;
  margin-bottom: 66px;
  text-align: center;
}
.top:after {
  content: "";
  display: table;
  clear: both;
}
.top__logo {
  display: inline-block;
  margin-right: -162px;
}
.top__faq,
.top__sign-links {
  padding-top: 16px;
}
.top__faq {
  display: inline-block;
  float: left;
}
.top__sign-links {
  display: inline-block;
  float: right;
}
.top__sign-links > .top__link {
  margin-right: 41px;
}
.top__sign-links > .top__link:last-child {
  margin-right: 0;
}
.top__link {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.25em;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  display: inline-block;
  color: #BDBDBD;
}
.top__link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.top__menu-button {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}
@media screen and (max-width: 850px) {
  .top__logo {
    margin-right: -50px;
  }
}
@media screen and (max-width: 750px) {
  .top__faq,
  .top__sign-links {
    display: block;
    float: none;
  }
  .top__sign-links {
    margin-top: 25px;
  }
  .top__sign-links:after {
    content: "";
    display: block;
    margin-top: 10px;
    height: 1px;
    background: -webkit-gradient(linear, left top, right top, from(#BDBDBD), color-stop(#4F4F4F), to(#BDBDBD));
    background: -o-linear-gradient(left, #BDBDBD, #4F4F4F, #BDBDBD);
    background: linear-gradient(to right, #BDBDBD, #4F4F4F, #BDBDBD);
  }
  .top__faq {
    margin-top: 10px;
  }
  .top__sign-links > .top__link {
    margin-right: 0;
    margin-bottom: 5px;
    padding: 15px 0;
  }
  .top__link {
    display: block;
    color: #FFFFFF;
  }
  .top__menu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.logo {
  display: inline-block;
}
.logo__link {
  display: inline-block;
  color: #828282;
}
.banner__title {
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 26px;
}
.banner__parent-page {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.25em;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  color: #F2F2F2;
  min-height: 15px;
}
.banner__parent-page:hover {
  text-decoration: underline;
  cursor: pointer;
}
.banner__container {
  max-width: 1440px;
  margin: 0 auto;
  background: #BDBDBD;
  padding: 264px 0 23px;
}
.banner__grid-container {
  max-width: 1440px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "left top-right" "left bottom-right";
  -ms-grid-columns: 58% 0 42%;
  grid-template-columns: 58% 42%;
  grid-column-gap: 0;
  -ms-grid-rows: 265px 265px;
  grid-template-rows: 265px 265px;
}
.banner__grid-container_position_left {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: left;
}
.showcards__grid-container > .banner__grid-container_position_left {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
}
.banner__grid-container_position_top-right {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: top-right;
}
.showcards__grid-container > .banner__grid-container_position_top-right {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.banner__grid-container_position_bottom-right {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: bottom-right;
}
.showcards__grid-container > .banner__grid-container_position_bottom-right {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
@media screen and (max-width: 850px) {
  .banner__grid-container {
        grid-template-areas: "left" "top-right" "bottom-right";
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-grid-rows: (265px)[3];
    grid-template-rows: repeat(3, 265px);
  }
  .banner__grid-container_position_left {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }
  .banner__grid-container_position_top-right {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .banner__grid-container_position_bottom-right {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
}
.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 29px 29px 32px 29px;
}
.block_tmeme_dark-grey {
  background: #A2A2A2;
}
.block_theme_grey {
  background: #B0B0B0;
}
.block_theme_light-grey {
  background: #BDBDBD;
}
.block__content {
  display: inline-block;
  max-width: 403px;
}
.block__text-container {
  display: block;
}
.block__text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF;
}
.block__link {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.25em;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 18px;
  color: #F2F2F2;
}
.block__link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.block__title {
  color: #FFFFFF;
}
@media screen and (max-width: 850px) {
  .block__content {
    max-width: 100%;
  }
}
.stories {
  background: #F5F5F5;
  text-align: center;
  padding: 59px 29px 35px;
}
.stories__title {
  margin-bottom: 32px;
  color: #828282;
}
.stories__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.stories__item {
  display: inline-block;
  width: 33.33%;
  margin-right: 30px;
}
.stories__item:last-child {
  margin-right: 0;
}
.card {
  display: inline-block;
  text-align: left;
  max-width: 370px;
}
.card__image {
  display: block;
  width: 100%;
  height: auto;
}
.card__date {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.25em;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  display: block;
  margin-top: 17px;
}
.card__date:hover {
  text-decoration: underline;
  cursor: pointer;
}
.card__text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  margin-top: 18px;
  font-size: 14px;
  line-height: 24px;
  color: #828282;
}
.about {
  background: #F5F5F5;
}
.about__content {
  display: inline-block;
  margin-right: 35px;
}
.about__title {
  display: block;
  color: #828282;
}
.about__text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  display: block;
  max-width: 501px;
  margin-top: 40px;
  font-size: 15px;
  line-height: 1.6em;
  color: #828282;
}
.about__link {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.25em;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #333333;
  display: inline-block;
  margin-top: 40px;
}
.about__link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.about__person-note {
  margin-top: 38px;
}
@media screen and (max-width: 850px) {
  .about__title {
    text-align: center;
  }
  .about__content {
    margin-right: 0;
  }
  .about__text {
    max-width: 100%;
  }
  .about__person-note {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }
}
.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 970px;
  margin: 98px auto;
  padding: 31px 51px 48px 47px;
}
@media screen and (max-width: 850px) {
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.person-note {
  display: inline-block;
  max-width: 332px;
  position: relative;
  background: #FFFFFF;
  text-align: center;
  padding: 74px 26px 40px 27px;
}
.person-note__image {
  display: inline-block;
  width: 118px;
  height: auto;
  position: absolute;
  top: -60px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.person-note__name {
  display: block;
}
.person-note__text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  display: block;
  font-size: 15px;
  line-height: 1.6em;
  margin-top: 16px;
  color: #828282;
}
.person-note__link {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.25em;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  display: block;
  color: #333333;
  margin-top: 24px;
}
.person-note__link:hover {
  text-decoration: underline;
  cursor: pointer;
}
@media screen and (max-width: 1220px) {
  .showcards__showcard-travel,
  .showcards__showcard-product,
  .showcards__showcard-section {
    margin-left: auto;
    margin-right: auto;
  }
}
.showcards__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  margin-top: 80px;
}
.showcards__flex-container > div:first-child {
  margin-right: 30px;
}
.showcards__grid-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: -ms-grid;
  display: grid;
  margin-bottom: 98px;
      grid-template-areas: "left top-right" "left bottom-right";
  -ms-grid-columns: 570px 60px 540px;
  grid-template-columns: 570px 540px;
  grid-column-gap: 60px;
  -ms-grid-rows: 252px 50px auto;
  grid-template-rows: 252px auto;
  grid-row-gap: 50px;
}
.showcards__grid-container_position_left {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: left;
}
.showcards__grid-container > .showcards__grid-container_position_left {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
}
.showcards__grid-container_position_top-right {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: top-right;
}
.showcards__grid-container > .showcards__grid-container_position_top-right {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.showcards__grid-container_position_bottom-right {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: bottom-right;
}
.showcards__grid-container > .showcards__grid-container_position_bottom-right {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
@media screen and (max-width: 850px) {
  .showcards__grid-container_position_left {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }
  .showcards__grid-container_position_top-right {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .showcards__grid-container_position_bottom-right {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
}
@media screen and (max-width: 1220px) {
  .showcards__grid-container {
        grid-template-areas: "left" "left" "top-right" "bottom-right";
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    grid-column-gap: 0;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .showcards__grid-container > .banner__grid-container_position_left {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
  }
  .showcards__grid-container > .banner__grid-container_position_top-right {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .showcards__grid-container > .banner__grid-container_position_bottom-right {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .showcards__grid-container > .showcards__grid-container_position_left {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
  }
  .showcards__grid-container > .showcards__grid-container_position_top-right {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .showcards__grid-container > .showcards__grid-container_position_bottom-right {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
}
.showcards__link {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.25em;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  display: inline-block;
  color: #333333;
  margin-top: 33px;
}
.showcards__link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.showcards__text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.25em;
  color: #828282;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.642em;
}
.showcard-travel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 570px;
  text-align: left;
}
.showcard-travel__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  min-height: 465px;
  padding: 30px 31px 33px;
  background: #E0E0E0;
}
.showcard-travel__image {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.showcard-travel__content {
  z-index: 4;
}
.showcard-travel__text {
  display: block;
}
.comment {
  display: block;
  position: relative;
  padding: 18px 25px 16px 0;
  text-align: right;
  min-height: 88px;
}
.comment__image {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  vertical-align: middle;
  z-index: 5;
}
.comment__content {
  display: inline-block;
  position: relative;
  width: 402px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: 0;
  text-align: left;
}
.comment__quotes {
  display: inline-block;
  position: absolute;
  top: -9px;
  left: -19px;
}
.comment__text {
  color: #4F4F4F;
}
.showcard-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url("../../images/showcards/section-soul.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 31px 33px;
  max-width: 540px;
  min-height: 252px;
}
.showcard-section__content {
  text-align: left;
}
.showcard-section__text {
  display: block;
}
.showcard-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 540px;
  min-height: 252px;
}
.showcard-product__left {
  display: inline-block;
  position: relative;
  width: 50%;
}
.showcard-product__image {
  display: inline-block;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
.showcard-product__name {
  display: inline-block;
  position: absolute;
  bottom: 32px;
  left: 26px;
}
.showcard-product__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #F5F5F5;
  width: 50%;
  padding: 20px 15px 34px 21px;
  text-align: left;
}
.testimonials {
  max-width: 1070px;
  margin: 91px auto 98px;
}
.testimonials__title {
  text-align: center;
  margin-bottom: 59px;
  color: #BDBDBD;
}
.testimonials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.testimonials__item {
  display: inline-block;
  max-width: 500px;
}
.testimonial__image {
  width: 100px;
  height: 100px;
  vertical-align: top;
}
.testimonial__content {
  display: inline-block;
  position: relative;
  width: 368px;
  margin-left: 28px;
}
.testimonial__quotes {
  display: inline-block;
  position: absolute;
  top: -9px;
  left: -19px;
}
.testimonial__text {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  display: block;
  font-size: 19px;
  line-height: 1.3158em;
  color: #828282;
}
.testimonial__author {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.25em;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  display: inline-block;
  font-size: 14px;
  line-height: 1.2143em;
  color: #4F4F4F;
  margin-top: 9px;
}
.testimonial__author:hover {
  text-decoration: underline;
  cursor: pointer;
}
.testimonial__company {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  margin-top: 11px;
  font-size: 19px;
  line-height: 1.3158em;
  color: #828282;
}
.page-preview__text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 1.6em;
  color: #828282;
  margin-bottom: 24px;
}
.page-preview__text:last-child {
  margin-bottom: 0;
}
.page-preview__container {
  margin: 72px auto 0;
  max-width: 570px;
  text-align: center;
}
.trips {
  margin-top: 120px;
  text-align: center;
}
.trips__list {
  margin-top: 68px;
}
.trips__item {
  display: inline-block;
}
.trips__item:nth-child(odd) {
  margin-right: 25px;
  margin-bottom: 97px;
}
.trips__item:nth-last-of-type(-n+2) {
  margin-bottom: 0px;
}
.split-line {
  display: block;
  height: 1px;
  background: #BDBDBD;
}
.split-line_margin_common {
  margin-top: 80px;
}
.split-line_margin_big {
  margin-top: 90px;
}
.split-line_margin_small {
  margin-top: 74px;
}
.trip {
  position: relative;
}
.trip__trip-review {
  position: -webkit-sticky;
  position: sticky;
  top: 15px;
}
.trip__button {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.25em;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  width: 305px;
  height: 47px;
  color: #4F4F4F;
  background: #D7D7D7;
  border: none;
  outline: none;
  -webkit-transition: background-color ease 0.2s;
  -o-transition: background-color ease 0.2s;
  transition: background-color ease 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-top: 72px;
}
.trip__button:hover {
  text-decoration: underline;
  cursor: pointer;
}
.trip__button:hover {
  cursor: pointer;
  background: #b1b1b1;
}
.trip__images-plugin {
  margin-top: 31px;
}
.trip__grid-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  margin-top: 85px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "main sidebar";
  -ms-grid-columns: 1fr 30px 370px;
  grid-template-columns: 1fr 370px;
  grid-column-gap: 30px;
}
.trip__grid-container__position__main {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: main;
}
.popular-producers__grid-container > .trip__grid-container__position__main {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.trip__grid-container__position__sidebar {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: sidebar;
}
.popular-producers__grid-container > .trip__grid-container__position__sidebar {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.images-plugin {
  margin-bottom: 37px;
}
.images-plugin__container {
  position: relative;
  width: 100%;
  height: 122px;
  overflow-x: auto;
  overflow-y: hidden;
}
.images-plugin__top {
  position: relative;
  margin-bottom: 5px;
}
.images-plugin__slides {
  position: relative;
}
.images-plugin__slide {
  display: none;
  height: 450px;
}
.images-plugin__slide_visblile {
  display: block;
}
.images-plugin__btn-prev,
.images-plugin__btn-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}
.images-plugin__btn-prev:hover,
.images-plugin__btn-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.images-plugin__btn-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.images-plugin__images-list {
  display: block;
  position: absolute;
  white-space: nowrap;
}
.images-plugin__images-item {
  display: inline-block;
  width: 22%;
  height: auto;
  scroll-snap-align: start;
  margin-right: 2px;
  vertical-align: top;
  opacity: 0.7;
  -webkit-transition: opacity ease 0.1s;
  -o-transition: opacity ease 0.1s;
  transition: opacity ease 0.1s;
}
.images-plugin__images-item:last-child {
  margin-right: 0;
}
.images-plugin__images-item:hover {
  opacity: 1;
}
.images-plugin__item_is-active {
  opacity: 1;
}
.images-plugin__image {
  width: 100%;
}
.images-plugin__image:hover {
  cursor: pointer;
}
.images-plugin__image_big {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.images-plugin__image_big:hover {
  cursor: default;
}
.video {
  display: block;
  position: relative;
  margin-top: 37px;
}
.video__player-container {
  display: none;
}
.video__alt {
  background: #BDBDBD;
  height: 500px;
  border-radius: 10px;
}
.video__alt-icon {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.trip-review {
  padding: 30px 26px 36px 27px;
  background: #F8F8F8;
}
.trip-review__image {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-right: 16px;
  vertical-align: middle;
}
.trip-review__person-info {
  display: inline-block;
  vertical-align: middle;
}
.trip-review__name {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.25em;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  display: inline-block;
  font-size: 14px;
  line-height: 1.2143em;
  color: #A2A2A2;
}
.trip-review__name:hover {
  text-decoration: underline;
  cursor: pointer;
}
.trip-review__company {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  font-size: 14px;
  line-height: 1.2143em;
  color: #A2A2A2;
}
.trip-review__content {
  position: relative;
  margin-top: 14px;
}
.trip-review__quotes {
  display: inline-block;
  position: absolute;
  top: -9px;
  left: -19px;
}
.trip-review__text {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 19px;
  line-height: 1.3158em;
  color: #828282;
}
.reviews-switch {
  display: block;
  text-align: right;
  margin-top: 9px;
}
.reviews-switch__prev,
.reviews-switch__next {
  display: inline-block;
  text-align: center;
  padding: 2px 5px;
  background: #FFFFFF;
  outline: none;
  border: none;
  -webkit-transition: all ease 0.1s;
  -o-transition: all ease 0.1s;
  transition: all ease 0.1s;
}
.reviews-switch__prev:hover,
.reviews-switch__next:hover {
  cursor: pointer;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}
.reviews-switch__next {
  margin-left: 3px;
}
.short-gallery-products {
  text-align: center;
  margin-top: 90px;
}
.short-gallery-products__content {
  text-align: center;
}
.short-gallery-products__products-list {
  margin-top: 82px;
}
.short-gallery-products__products-item {
  display: inline-block;
  margin-right: 25px;
  vertical-align: top;
}
.short-gallery-products__products-item:last-child {
  margin-bottom: 0;
  margin-right: 0;
}
.short-gallery-products__link {
  margin: 65px auto 0;
}
@media screen and (max-width: 1215px) {
  .short-gallery-products__products-list {
    width: 65%;
    margin: 0 auto;
    text-align: center;
  }
  .short-gallery-products__products-item:nth-child(even) {
    margin-right: 0;
  }
  .short-gallery-products__products-item:nth-child(-n+2) {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 940px) {
  .popular-products__products-list {
    width: 80%;
  }
}
@media screen and (max-width: 780px) {
  .popular-products__products-list {
    width: 100%;
  }
}
@media screen and (max-width: 620px) {
  .short-gallery-products__products-list {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .short-gallery-products__products-item {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .short-gallery-products__products-item:last-child {
    margin-bottom: 0;
  }
}
.product-card {
  display: inline-block;
  width: 270px;
  text-align: left;
}
.product-card__image {
  display: block;
  width: 100%;
}
.product-card__name {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.25em;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  display: block;
  width: 100%;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.643em;
  color: #828282;
}
.product-card__name:hover {
  text-decoration: underline;
  cursor: pointer;
}
.product-card__producer {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  display: block;
  margin-top: 21px;
  font-size: 14px;
  line-height: 1.214em;
  color: #828282;
}
.product-card__price {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  margin-top: 21px;
  font-size: 14px;
  line-height: 1.214em;
  color: #828282;
}
.product-card__discount-price {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  margin-top: 21px;
  font-size: 14px;
  line-height: 1.214em;
  color: #828282;
  margin-left: 9px;
}
.product-card__price_discount {
  text-decoration: line-through;
}
.popular-producers {
  margin-top: 81px;
}
.popular-producers__card-producer {
  margin-top: 75px;
}
.popular-producers__link {
  margin-top: 75px;
}
.popular-producers__grid-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "main sidebar";
  -ms-grid-columns: 1fr 30px 370px;
  grid-template-columns: 1fr 370px;
  grid-column-gap: 30px;
}
.popular-producers__grid-container_position_main {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: main;
}
.popular-producers__grid-container > .popular-producers__grid-container_position_main {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.popular-producers__grid-container_position_sidebar {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: sidebar;
}
.popular-producers__grid-container > .popular-producers__grid-container_position_sidebar {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.card-producer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 444px;
}
.card-producer__image-container {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 100%;
  background: #E0E0E0;
}
.card-producer__icon-avatar-alt {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.card-producer__content {
  display: inline-block;
  width: 470px;
  padding: 17px 22px 20px 19px;
  background: #F5F5F5;
}
.card-producer__name {
  color: #828282;
}
.card-producer__text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: 74px;
  margin-top: 35px;
  font-size: 16px;
  line-height: 1.625em;
  color: #4F4F4F;
}
.card-producer__link {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.25em;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 35px;
  color: #333333;
}
.card-producer__link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.card-producer__popular-products-mini {
  margin-top: 52px;
}
.popular-products-mini__title {
  color: #828282;
}
.popular-products-mini__products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 23px;
}
.popular-products-mini__products-item {
  display: inline-block;
  margin-right: 35px;
}
.popular-products-mini__products-item:last-child {
  margin-right: 0;
}
.popular-products-mini__image {
  display: inline-block;
  width: 113px;
  height: 113px;
}
.sidebar-feed {
  padding: 24px 25px 50px;
  background: #F8F8F8;
}
.sidebar-feed__title {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  display: block;
  text-align: center;
  font-size: 24px;
  line-height: 1.333em;
}
.products-market {
  margin-top: 80px;
}
.products-market__content {
  margin-left: 30px;
  max-width: 870px;
}
.products-market__products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}
.products-market__products-item {
  vertical-align: top;
  margin-bottom: 50px;
}
.products-market__button-load-more {
  margin: auto;
  width: 270px;
}
.products-market__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sidebar-market {
  display: inline-block;
  min-width: 270px;
  width: 270px;
}
.sidebar-market__container {
  background: #F5F5F5;
  padding: 22px 28px 54px;
}
.sidebar-market__market-filter {
  margin-top: 50px;
}
.sidebar-market__market-filter:first-child {
  margin-top: 0;
}
.market-filter__title {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.25em;
  font-size: 14px;
  line-height: 1.214em;
  color: #4F4F4F;
  text-transform: uppercase;
}
.market-filter__filters-list {
  margin-top: 20px;
}
.market-filter__filters-item {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 8px 0;
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 1.1875em;
  color: #828282;
}
.market-filter__filters-item:last-child {
  margin-bottom: 0;
}
.market-filter__filters-item:hover {
  cursor: pointer;
  text-decoration: underline;
}
.market-filter__button {
  display: block;
  border: none;
  outline: none;
  background: transparent;
  margin: 18px 0 0;
  padding: 10px 0;
}
.market-filter__button:hover {
  cursor: pointer;
}
.loved-producers {
  margin-top: 91px;
  text-align: center;
}
.loved-producers:after {
  content: "";
  display: table;
  clear: both;
}
.loved-producers__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.loved-producers__title {
  display: inline-block;
}
.loved-producers__link {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.25em;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  display: inline-block;
  color: #4F4F4F;
}
.loved-producers__link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.loved-producers__content {
  margin-top: 164px;
}
.loved-producers__producer-card {
  float: left;
  margin-right: 30px;
}
.loved-producers__producer-card:last-child {
  margin-right: 0;
}
.producer-card {
  display: inline-block;
  position: relative;
  width: 370px;
  text-align: center;
  background: #F5F5F5;
}
.producer-card__avatar {
  display: inline-block;
  position: absolute;
  width: 170px;
  height: 170px;
  background: #E0E0E0;
  border-radius: 50%;
  top: -85px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.producer-card__avatar-image {
  display: inline-block;
  position: absolute;
  max-width: 170px;
  max-height: 170px;
  -o-object-fit: contain;
     object-fit: contain;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.producer-card__producer-name {
  display: block;
  margin-top: 93px;
}
.producer-card__text {
  display: block;
  margin-top: 30px;
}
.producer-card__producer-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 27px;
}
.producer-card__product-link {
  background: #C4C4C4;
  display: inline-block;
  position: relative;
  min-width: 184px;
  min-height: 184px;
  margin-right: 1px;
}
.producer-card__product-link:nth-child(-n+2) {
  margin-bottom: 1px;
}
.producer-card__product-image {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.style-product {
  margin-top: 57px;
}
.style-product__text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  display: block;
  margin-top: 37px;
  font-size: 15px;
  line-height: 1.6em;
  color: #828282;
}
.style-product__add-to-cart {
  margin-top: 27px;
  float: right;
}
.style-product__sidebar {
  margin-left: 30px;
}
.style-product__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.add-to-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 48px 31px 38px;
  background: #F5F5F5;
  width: 100%;
  max-width: 770px;
}
.add-to-cart__price {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 1.208em;
  color: #828282;
}
.add-to-cart__quantity {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.25em;
  font-size: 16px;
  line-height: 1.1875em;
  color: #828282;
  text-transform: uppercase;
}
.add-to-cart__input {
  margin-left: 15px;
  width: 87px;
  height: 50px;
  padding: 0 8px;
  background: #C4C4C4;
  border: none;
  font-size: 16px;
  line-height: 1.1875em;
  text-transform: uppercase;
}
.add-to-cart__button {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.25em;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  padding: 0 42px;
  height: 50px;
  background: #4F4F4F;
  color: #F2F2F2;
  margin-left: 57px;
  border: none;
  outline: none;
}
.add-to-cart__button:hover {
  text-decoration: underline;
  cursor: pointer;
}
.producer-info-card {
  display: inline-block;
  position: relative;
  width: 370px;
  text-align: center;
  background: #F5F5F5;
  padding: 0 23px 26px 24px;
  margin-top: 85px;
}
.producer-info-card__avatar {
  display: inline-block;
  position: absolute;
  width: 170px;
  height: 170px;
  background: #E0E0E0;
  border-radius: 50%;
  top: -85px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.producer-info-card__avatar-image {
  display: inline-block;
  position: absolute;
  max-width: 170px;
  max-height: 170px;
  -o-object-fit: contain;
     object-fit: contain;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.producer-info-card__producer-name {
  display: block;
  margin-top: 93px;
}
.producer-info-card__text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  display: block;
  margin-top: 30px;
  font-size: 15px;
  line-height: 1.6em;
  color: #828282;
}
.footer {
  margin-bottom: 92px;
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
  padding: 0 43px 0 39px;
}
.footer__copyright,
.footer__author {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.2143em;
  color: #BDBDBD;
}
.footer.container {
  max-width: 1170px;
  padding: 0;
}
.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 44px 32px 40px;
  background: #F7F7F7;
  width: 100%;
}
.subscribe__title {
  display: inline-block;
  margin-right: 98px;
  color: #4F4F4F;
}
.form {
  display: inline-block;
}
.form__input {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 444px;
  height: 47px;
  background: #EBEBEB;
  padding-left: 15px;
  outline: none;
  border: none;
  font-size: 16px;
  line-height: 1.1875em;
  color: #4F4F4F;
}
.form__button {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.25em;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 305px;
  height: 47px;
  color: #4F4F4F;
  background: #D7D7D7;
  border: none;
  outline: none;
  -webkit-transition: background-color ease 0.2s;
  -o-transition: background-color ease 0.2s;
  transition: background-color ease 0.2s;
  display: inline-block;
  width: 176px;
  vertical-align: bottom;
  margin-left: -4px;
}
.form__button:hover {
  text-decoration: underline;
  cursor: pointer;
}
.form__button:hover {
  cursor: pointer;
  background: #b1b1b1;
}
.social {
  display: inline-block;
}
.social__item {
  display: inline-block;
  margin-right: 22px;
}
.social__item:last-child {
  margin-right: 0;
}
.social__icon {
  width: 41px;
  height: 41px;
}
.footer_margin-top {
  margin-top: 81px;
}
