.text-common {
    font-family: @font-family-common;
    font-weight: @font-weight-normal;
}

.text-captions {
    font-family: @font-family-caption;
    font-weight: @font-weight-normal;
}


.text_extra-small {

}

.text_letter-spacing_true {
    letter-spacing: .25em;
}