.card-producer {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 444px;
    max-width: 770px;


    &__image-container {
        display: inline-block;
        position: relative;
        width: 39%; //300px
        height: 100%;
        background: #E0E0E0;
    }

    &__icon-avatar-alt {
        display: inline-block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    &__image-avatar {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 2;
    }

    &__content {
        display: inline-block;
        width: 61%; //470px
        padding: 17px 22px 20px 19px;
        background: @color-theme-extra-light;

    }

    &__name {
        color: @color-text-grey;
    }

    &__text {
        .text-common();
        display: -webkit-box;
        overflow: hidden;
        //text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        height: 74px;
        margin-top: 35px;
        font-size: 16px;
        line-height: 1.625em;
        color: @color-text-dark;
    }

    &__link {
        .site-link();
        display: inline-block;
        margin-top: 35px;
        color: @color-text-strong-dark;
    }

    &__popular-products-mini {
        margin-top: 52px;
    }
}

@media screen and (max-width: 600px) {
    .card-producer {
        flex-direction: column;
        height: auto;

        &__image-container {
            display: block;
            width: 100%;
            height: auto;
            //min-height: 200px;
            min-height: 100px;
        }

        &__content {
            width: 100%;
        }
    }
}