html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Playfair Display', serif;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
ul,
li {
  display: block;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  color: black;
}
section {
  background: #FFFFFF;
}
.text_letter-spacing_true {
  letter-spacing: 0.25em;
}
.text-common {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
}
.text-captions {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
}
.heading_big {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 52px;
  line-height: 69px;
}
.heading_medium {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 32px;
  line-height: 43px;
}
.heading_small {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
  line-height: 27px;
}
.site-link {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.25em;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}
.container {
  max-width: 1170px;
  margin: auto;
}
.container_wide {
  max-width: 1440px;
  margin: auto;
}
.header {
  max-width: 1090px;
  margin: auto;
  padding: 50px 29px 66px;
}
.nav-menu__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-menu__item {
  display: inline-block;
}
.nav-menu__link {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.25em;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #828282;
}
.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 66px;
}
.top__sign-links > .top__link {
  margin-right: 41px;
}
.top__sign-links > .top__link:last-child {
  margin-right: 0;
}
.top__link {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.25em;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  display: inline-block;
  color: #BDBDBD;
}
.logo {
  display: inline-block;
  margin-right: -162px;
}
.logo__link {
  display: inline-block;
  color: #828282;
}
.grid {
  display: grid;
  grid-template-areas: "left top-right" "left bottom-right";
  grid-template-columns: 58% 42%;
  grid-column-gap: 0;
  grid-template-rows: 265px 265px;
}
.grid__left {
  grid-area: left;
}
.grid__top-right {
  grid-area: top-right;
}
.grid__bottom-right {
  grid-area: bottom-right;
}
.banner__container {
  max-width: 1440px;
  margin: auto;
  display: grid;
  grid-template-areas: "left top-right" "left bottom-right";
  grid-template-columns: 58% 42%;
  grid-column-gap: 0;
  grid-template-rows: 265px 265px;
}
.block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 29px 29px 32px 29px;
}
.block_tmeme_dark-grey {
  background: #A2A2A2;
}
.block_theme_grey {
  background: #B0B0B0;
}
.block_theme_light-grey {
  background: #BDBDBD;
}
.block__content {
  display: inline-block;
  max-width: 403px;
}
.block__text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  display: block;
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF;
}
.block__link {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.25em;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 18px;
  color: #F2F2F2;
}
.stories {
  background: #F5F5F5;
  text-align: center;
  padding: 59px 29px 35px;
}
.stories__title {
  margin-bottom: 32px;
}
.stories__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.stories__item {
  display: inline-block;
  width: 33.33%;
  margin-right: 30px;
}
.stories__item:last-child {
  margin-right: 0;
}
.card {
  display: inline-block;
  text-align: left;
  max-width: 370px;
}
.card__image {
  display: block;
  width: 100%;
  height: auto;
}
.card__date {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.25em;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  display: block;
  margin-top: 17px;
}
.card__text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  margin-top: 18px;
  font-size: 14px;
  line-height: 24px;
  color: #828282;
}
.about {
  max-width: 970px;
  margin: 98px auto;
  background: #F5F5F5;
  padding: 31px 51px 48px 47px;
}
.about__content {
  display: inline-block;
  margin-right: 35px;
}
.about__title {
  display: block;
}
.about__text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  display: block;
  max-width: 501px;
  margin-top: 40px;
  font-size: 15px;
  line-height: 1.6em;
  color: #828282;
}
.about__link {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.25em;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #333333;
  display: inline-block;
  margin-top: 40px;
}
.person-note {
  display: inline-block;
  width: 332px;
  position: relative;
  background: #FFFFFF;
  text-align: center;
  padding: 74px 26px 40px 27px;
}
.person-note__image {
  display: inline-block;
  width: 118px;
  height: auto;
  position: absolute;
  top: -60px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.person-note__name {
  display: block;
}
.person-note__text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  display: block;
  font-size: 15px;
  line-height: 1.6em;
  margin-top: 16px;
  color: #828282;
}
.person-note__link {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.25em;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  display: block;
  color: #333333;
  margin-top: 24px;
}
