.showcards__flex-container {
    .container();
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 80px;

    &>div:first-child {
        margin-right: 30px;
    }
}