.banner__container {
    .container_wide();
    background: @color-theme-light-grey;
    padding: 264px 0 23px;
}

@media screen and (max-width: 750px) {
    .banner__container {
        padding-top: 120px;
    }
}