.banner__grid-container {
    .container_wide();
    display: grid;
    grid-template-areas:    "left top-right"
                            "left bottom-right";
    grid-template-columns: 58% 42%;
    grid-column-gap: 0;
    grid-template-rows: 265px 265px;

    &_position_left { grid-area: left; }
    &_position_top-right { grid-area: top-right; }
    &_position_bottom-right { grid-area: bottom-right; }
}

@media screen and (max-width: 850px) {
    .banner__grid-container {
        grid-template-areas:    "left"
                                "top-right"
                                "bottom-right";

        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 265px);
    }
}