.testimonials {
    max-width: 1070px;
    margin: 91px auto 98px;

    &__title {
        text-align: center;
        margin-bottom: 59px;
        color: @color-text-light-grey;
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

    }

    &__item {
        display: inline-block;
        max-width: 500px;
    }
}