@font-family-common: 'Lato', sans-serif;
@font-family-caption: 'Playfair Display', serif;
@font-weight-normal: 400;
@font-weight-bold: 700;

@color-text-strong-dark: #333333;
@color-text-dark: #4F4F4F;
@color-text-grey: #828282;
@color-text-light-grey: #BDBDBD;
@color-text-white: #FFFFFF;



@color-theme-dark-grey: #A2A2A2;
@color-theme-grey: #B0B0B0;
@color-theme-light-grey: #BDBDBD;
@color-theme-light: #F5F5F5;